<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Resturaunt Menu Maker</title>
        <meta charset="UTF-8">
        <meta name="description" content="Want to create an online menu for a resturaunt? try our website to get beautiful menus hosted for cheap!">
        <meta name="keywords" content="Menu, Resturaunt, Developer, Resturaunt Developer, Coding, QR, QR Code, Menu List, Online Menu">
        <link rel="stylesheet/css" href="css/index.css">
    </head>
    <body>
        <h1>WIP</h1>
        <script src="js/index.js"></script>
    </body>
</html>